1. If the user gets two 6 in a row, they lose their score.
2. Add an input field in the HTML so the users can define the winning score by themselves.
3. Add a second dice to the game. In this scenario, the player loses his score when one of them is a one.